<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Posts</title>
</head>
<body>
<div>
  <!-- search -->
  <div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">POSTS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CHỦ ĐỀ</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">World Cup</a>
              <a class="dropdown-item" href="#">Du lịch</a>
              <a class="dropdown-item" href="#">Tội Phạm</a>
              <a class="dropdown-item" href="#">Nhà nước</a>
              <a class="dropdown-item" href="#">Chứng Khoán</a>
              <a class="dropdown-item" href="#">Cờ nhíp nhồ</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">TAG</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"># Nhà cái đến từ Châu Âu</a>
              <a class="dropdown-item" href="#"># World cup 2022</a>
              <a class="dropdown-item" href="#"># Trả nợ cá độ bóng đá</a>
              <a class="dropdown-item" href="#"># Những đôi dép trên cầu</a>
              <a class="dropdown-item" href="#"># Cai nghiện là dễ</a>
              <a class="dropdown-item" href="#"># Yêu đồng tính</a>
            </div>
          </li>
        </ul>
        <form class="d-flex input-group w-auto">
          <!-- <div>
            <button type="button" class="btn btn-primary">log in</button>
            <button type="button" class="btn btn-primary">log out</button>
          </div> -->
          <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        </form>
      </div>
    </nav>
  </div>
  <!--  -->
  <!--Main layout-->
  <div class="container">
    <!--Section: News of the day-->
    <section class="border-bottom pb-4 mb-5">
      <div class="row gx-5">
        <div class="col-md-6 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Tin mới nhất</span>
          <h4><strong><b>World cup 2022</b></strong></h4>
          <p class="text-muted">
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
            anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
          </p>
          <div class="chip">
            #Cá độ #Nhà cái #Nhảy
            <i class="close fas fa-times"></i>
          </div>
          <button type="button" class="btn btn-primary">Tìm hiểu ngay</button>
        </div>
      </div>
    </section>

    <!--Section: News of the day-->

    <!--Section: Content-->
    <section>
      <div class="row gx-lg-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                 data-mdb-ripple-color="light">
              <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <a href="" class="text-info">
                  <i class="fas fa-plane"></i>
                  <span class="badge badge-pill badge-primary">Cá độ</span>
                </a>
              </div>

              <div class="col-6 text-end">
                <u> 11.12.2022</u>
              </div>
            </div>

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5><b>World cup 2022</b></h5>

              <p>
                anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
              </p>
            </a>
            <div class="chip">
              #Cá độ #Nhà cái #Nhảy
              <i class="close fas fa-times"></i>
            </div>
            <hr />

          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                 data-mdb-ripple-color="light">
              <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <a href="" class="text-info">
                  <i class="fas fa-plane"></i>
                  <span class="badge badge-pill badge-primary">Cá độ</span>
                </a>
              </div>

              <div class="col-6 text-end">
                <u> 11.12.2022</u>
              </div>
            </div>

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5><b>World cup 2022</b></h5>

              <p>
                anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
              </p>
            </a>
            <div class="chip">
              #Cá độ #Nhà cái #Nhảy
              <i class="close fas fa-times"></i>
            </div>
            <hr />

          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                 data-mdb-ripple-color="light">
              <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <a href="" class="text-info">
                  <i class="fas fa-plane"></i>
                  <span class="badge badge-pill badge-primary">Cá độ</span>
                </a>
              </div>

              <div class="col-6 text-end">
                <u> 11.12.2022</u>
              </div>
            </div>

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5><b>World cup 2022</b></h5>

              <p>
                anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
              </p>
            </a>
            <div class="chip">
              #Cá độ #Nhà cái #Nhảy
              <i class="close fas fa-times"></i>
            </div>
            <hr />

          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                 data-mdb-ripple-color="light">
              <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <a href="" class="text-info">
                  <i class="fas fa-plane"></i>
                  <span class="badge badge-pill badge-primary">Cá độ</span>
                </a>
              </div>

              <div class="col-6 text-end">
                <u> 11.12.2022</u>
              </div>
            </div>

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5><b>World cup 2022</b></h5>

              <p>
                anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
              </p>
            </a>
            <div class="chip">
              #Cá độ #Nhà cái #Nhảy
              <i class="close fas fa-times"></i>
            </div>
            <hr />

          </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
                 data-mdb-ripple-color="light">
              <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid"
                   alt="Brooklyn Bridge" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <a href="" class="text-info">
                  <i class="fas fa-plane"></i>
                  <span class="badge badge-pill badge-primary">Cá độ</span>
                </a>
              </div>

              <div class="col-6 text-end">
                <u> 11.12.2022</u>
              </div>
            </div>

            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5><b>World cup 2022</b></h5>

              <p>
                anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
              </p>
            </a>
            <div class="chip">
              #Cá độ #Nhà cái #Nhảy
              <i class="close fas fa-times"></i>
            </div>
            <hr />
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
                 data-mdb-ripple-color="light">
              <img src="https://www.sciencealert.com/images/2016-12/millau-viaduct.jpg" class="img-fluid"
                   alt="Golden Gate National Recreation Area" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>

            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <a href="" class="text-info">
                  <i class="fas fa-plane"></i>
                  <span class="badge badge-pill badge-primary">Cá độ</span>
                </a>
              </div>

              <div class="col-6 text-end">
                <u> 11.12.2022</u>
              </div>
            </div>
            <!-- Article title and description -->
            <a href="" class="text-dark">
              <h5><b>World cup 2022</b></h5>

              <p>
                anh 7 vô địch, messi thua crotia! Fan anh 7 mãi đỉnh!
              </p>
            </a>
            <div class="chip">
              #Cá độ #Nhà cái #Nhảy
              <i class="close fas fa-times"></i>
            </div>
            <hr />

          </div>
        </div>
    </section>
    <!--Section: Content-->

    <!-- Pagination -->
    <nav class="my-4" aria-label="...">
      <ul class="pagination pagination-circle justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Main layout-->





  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>